# Search Application
Team 19: David Amiel, Michael Ryvin, Joseph Sheppard

## Data Import
We begin by establishing a connection to each database and importing tweet data, user data, adn retweets.

In [1]:
import time

import mysql.connector
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Dpreston123!!",
    database="mydatabase"
)
cur = mydb.cursor()

def getMongoPointer():
    uri = "mongodb+srv://msdsmichael:msdsmichael@cluster0.usgmik3.mongodb.net/?retrywrites=true&w=majority"
    client = MongoClient(uri, server_api=ServerApi('1'))
    try:
        client.admin.command('ping')
    except Exception as e:
        print(e)
    return client

def getmySQLPointer():
    return cur

def getTweetsDB():
    return getMongoPointer()["Twitter"]["Tweets"]

def commit():
    mydb.commit()

### Tweet Data Import

In [ ]:
import json

temp = getTweetsDB()
with open("corona-out-3", "r") as f1:
    for line in f1:
        try:
            data = json.loads(line)
            if temp.find_one({"id": data['id']}) is not None:
                continue

            user = data['user']
            if ( data['text'].startswith('RT') ):

                if temp.find_one({"id": data["retweeted_status"]["id"]}) is None:

                    if 'retweeted_status.extended_tweet' in data:
                        tweet_details = {
                            'created_at': data["retweeted_status"]['created_at'],
                            'updated_at' : data['created_at'],
                            'id': data["retweeted_status"]['id'],
                            'text': data["retweeted_status"]['extended_tweet']['full_text'],
                            'in_reply_to_user_id': data["retweeted_status"]['in_reply_to_user_id'],
                            'in_reply_to_status_id': data["retweeted_status"]['in_reply_to_status_id'],
                            'user_ID': data["retweeted_status"]['user']['id'],
                            'quote_count': data["retweeted_status"]['quote_count'],
                            'reply_count': data["retweeted_status"]['reply_count'],
                            'retweet_count': data["retweeted_status"]['retweet_count'],
                            'favorite_count': data["retweeted_status"]['favorite_count'],
                            'hashtags': data["retweeted_status"]['entities']['hashtags'],
                            'language': data["retweeted_status"]['lang']
                        }
                    else:
                        tweet_details = {
                            'created_at': data["retweeted_status"]['created_at'],
                            'updated_at' : data['created_at'],
                            'id': data["retweeted_status"]['id'],
                            'text': data["retweeted_status"]['text'],
                            'in_reply_to_user_id': data["retweeted_status"]['in_reply_to_user_id'],
                            'in_reply_to_status_id': data["retweeted_status"]['in_reply_to_status_id'],
                            'user_ID': data["retweeted_status"]['user']['id'],
                            'quote_count': data["retweeted_status"]['quote_count'],
                            'reply_count': data["retweeted_status"]['reply_count'],
                            'retweet_count': data["retweeted_status"]['retweet_count'],
                            'favorite_count': data["retweeted_status"]['favorite_count'],
                            'hashtags': data["retweeted_status"]['entities']['hashtags'],
                            'language': data["retweeted_status"]['lang']
                        }

                    result = temp.insert_one(tweet_details)
                else:
                    if data["created_at"] > temp.find_one({"id": data["retweeted_status"]["id"]})['updated_at']:

                        result = temp.update_one({"id": data["retweeted_status"]["id"]}, {"$set": {"updated_at": data["created_at"]}})
                        temp.update_one({"id": data["retweeted_status"]["id"]}, {"$set": {"quote_count": data["retweeted_status"]["quote_count"]}})
                        temp.update_one({"id": data["retweeted_status"]["id"]}, {"$set": {"reply_count": data["retweeted_status"]["reply_count"]}})
                        temp.update_one({"id": data["retweeted_status"]["id"]}, {"$set": {"retweet_count": data["retweeted_status"]["retweet_count"]}})
                        temp.update_one({"id": data["retweeted_status"]["id"]}, {"$set": {"favorite_count": data["retweeted_status"]["favorite_count"]}})
            else:
                if temp.find_one({"id": data["id"]}) is None:
                    if 'extended_tweet' in data:
                        tweet_details = {
                            'created_at': data['created_at'],
                            'updated_at' : data['created_at'],
                            'id': data['id'],
                            'text': data['extended_tweet']['full_text'],
                            'in_reply_to_user_id': data['in_reply_to_user_id'],
                            'in_reply_to_status_id': data['in_reply_to_status_id'],
                            'user_ID': data['user']['id'],
                            'quote_count': data['quote_count'],
                            'reply_count': data['reply_count'],
                            'retweet_count': data['retweet_count'],
                            'favorite_count': data['favorite_count'],
                            'hashtags': data['entities']['hashtags'],
                            'language': data['lang']
                        }
                    else:
                        tweet_details = {
                            'created_at': data['created_at'],
                            'updated_at' : data['created_at'],
                            'id': data['id'],
                            'text': data['text'],
                            'in_reply_to_user_id': data['in_reply_to_user_id'],
                            'in_reply_to_status_id': data['in_reply_to_status_id'],
                            'user_ID': data['user']['id'],
                            'quote_count': data['quote_count'],
                            'reply_count': data['reply_count'],
                            'retweet_count': data['retweet_count'],
                            'favorite_count': data['favorite_count'],
                            'hashtags': data['entities']['hashtags'],
                            'language': data['lang']
                        }
                    result = temp.insert_one(tweet_details)

        except:
            continue

### User Information Import

In [ ]:
createTable = \
    "CREATE TABLE USERS1( \
    UID varchar(50) NOT NULL PRIMARY KEY,   \
    FName varchar(255),              \
    Handle varchar(255),            \
    FollowerCount int,              \
    FriendCount int,                \
    LikesCount int,                 \
    TweetsCount int,                \
    Verified int,                  \
    InfluenceScore FLOAT(24),       \
    UserBio varchar(500),           \
    YearJoined int)"

cur.execute(createTable)

def stripQuotes(text):
    return text.replace("\'", "").replace("\"", "").replace("\\\'", "").replace("\\\"", "")


def UsertoMySQL(data):
    string = "SELECT COUNT(1) FROM mydatabase.USERS1 WHERE UID = %s" % data['id_str']
    cur.execute(string)
    if (cur.fetchall()[0][0] != 0):
        return
    UserID = stripQuotes(data['id_str']) if data['id_str'] is not None else ""
    Name = stripQuotes(data['name']) if data['name'] is not None else ""
    Handle = stripQuotes(data['screen_name']) if data['screen_name'] is not None else ""
    Bio = stripQuotes(data['description']) if data['description'] is not None else ""
    Verified = int(data['verified']) if data['verified'] is not None else 0
    Followers = data['followers_count'] if data['followers_count'] is not None else 0
    Friends = data['friends_count'] if data['friends_count'] is not None else 0
    Likes = data['favourites_count'] if data['favourites_count'] is not None else 0
    Tweets = data['statuses_count'] if data['screen_name'] is not None else 0
    JoinYear = int(data['created_at'][-4:]) if data['created_at'] is not None else 0000

    InfluenceScore = (3*int(Followers) + 2*int(Friends) + int(Tweets) + 0.5*int(Likes)) / 100
    if Verified:
        InfluenceScore = str(InfluenceScore * 1.25)

    sqlCMD = "INSERT INTO USERS1 (UID, FName, Handle, UserBio, FollowerCount, FriendCount, LikesCount, TweetsCount, Verified, InfluenceScore, YearJoined) VALUES (" \
             "'%s', '%s', '%s', '%s', " % (UserID, Name, Handle, Bio) + str((", ").join([str(Followers), str(Friends), str(Likes), str(Tweets), str(Verified), str(InfluenceScore), str(JoinYear)])) + ")"
    cur.execute(sqlCMD)

try:
    cur.fetchall()
except:
    pass

commitCounter = 0
inc = 0
with open("../corona-out-3", "r", encoding='cp437', errors="ignore") as file:
    for line in file:
        try:
            data = json.loads(line)
            try:
                UsertoMySQL(data['user'])
            except:
                inc += 1
            try:
                UsertoMySQL(data['retweeted_status']['user'])
            except:
                inc += 1
            try:
                UsertoMySQL(data['quoted_status']['user'])
            except:
                inc += 1
            commitCounter += 1
            if (commitCounter >= 1000):
                mydb.commit()
                commitCounter = 0
        except:
            continue
mydb.commit()

### Import Retweets

In [ ]:
createTable = \
    "CREATE TABLE RETWEETS(TweetID varchar(100), RTweetID varchar(100), RTHandle varchar(255), Retweeter varchar(100), RTTime varchar(100))"

cur.execute(createTable)

cur.fetchall()
commitCounter = 0
with open("../corona-out-3", "r", encoding='cp437', errors="ignore") as file:
    for line in file:
        try:
            data = json.loads(line)
            if(data['text'].startswith("RT")):
                cur.execute("INSERT INTO RETWEETS (TweetID, RTweetID, Retweeter, RTTime, RTHandle) VALUES ('%s', '%s', '%s', '%s', '%s')" % (data["retweeted_status"]["id_str"], data["id_str"], data["user"]["id_str"], data["created_at"], data["user"]['screen_name'].replace("\"", "'")))
            commitCounter += 1
            if (commitCounter >= 1000):
                mydb.commit()
                commitCounter = 0

        except:
            continue
mydb.commit()

## Search Application Methods
Below we create the methods for our search application.

### RELU Cache

In [ ]:
import pickle

class LRUCache:
    def __init__(self):
        self.capacity = 5
        self.cache = {}
        self.counter = 0

    def get(self, key):
        if key not in self.cache:
            return -1
        else:
            self.counter += 1
            self.cache[key]['counter'] = self.counter
            return self.cache[key]['value']

    def put(self, key, value):
        if key in self.cache:
            self.cache[key]['value'] = value
            self.counter += 1
            self.cache[key]['counter'] = self.counter
        else:
            if len(self.cache) >= self.capacity:
                lru_key = min(self.cache, key=lambda k: self.cache[k]['counter'])
                self.cache.pop(lru_key)
            self.cache[key] = {'value': value, 'counter': 0}
        if self.counter % 5 == 0:
            with open('cache.pickle', 'wb') as f:
                pickle.dump(self.cache, f)

try:
    QueryCache = pickle.load("cache.pickle")
except:
    QueryCache = LRUCache()

### Search Methods

In [55]:
from datetime import datetime
tweets = getTweetsDB()
mySQL  = getmySQLPointer()

def formatTweet(tweet):
    mySQL.execute("SELECT Handle FROM mydatabase.USERS1 WHERE UID = %s" % str(tweet['user_ID']))
    UName = mySQL.fetchall()[0][0]
    date_obj = datetime.strptime(tweet["created_at"], '%a %b %d %H:%M:%S %z %Y')
    text = "Tweet from @" + UName + " on " + date_obj.strftime("%B %d, %Y").replace(" 0", " ") + ":\n\t"
    text += tweet["text"]
    text += "\n\t(" + str(tweet["favorite_count"]) + " Likes, " + str(tweet["reply_count"]) + " Replies, " + str(
        tweet["retweet_count"]) + " Retweets)"
    return text


def getUserProfile(userID):
    sqlQuery = "SELECT FName, Handle, FollowerCount, Verified, UserBio, YearJoined FROM mydatabase.users1 WHERE UID = " + str(userID)

    mySQL.execute(sqlQuery)
    results = mySQL.fetchall()
    UName, Handle, Followers, Verified, Bio, Joined = results[0]
    profile = "USER PROFILE FOR @" + Handle.strip() + ":"
    if (Verified == 1) :
        profile += "\nVerified User"
    profile += "\n\tName:\t\t\t"+ UName.strip()
    profile += "\n\tBio:\t\t\t" + Bio.strip()
    profile += "\n\tFollowers:\t\t" + str(Followers)
    profile += "\n\tMember Since:\t" + str(Joined)

    query = {"user" : userID}
    tweets1 = tweets.find(query).sort("created_at",-1)
    for tweet in tweets1:
        profile += "\n" + formatTweet(tweet, UName)

    return profile

def getReTweeters(postID):
    sqlQuery = "SELECT RTweetID, Retweeter, RTTime, RTHandle FROM twitterusers.retweets WHERE TweetID = " + str(postID)
    mySQL.execute(sqlQuery)
    results = mySQL.fetchall()
    return results

In [48]:
import pymongo

def text_user(text):
    cacheKey = ("text", "user", text)
    cacheResult = QueryCache.get(cacheKey)
    if cacheResult != -1:
        return cacheResult
    mySQL.execute("SELECT Handle FROM mydatabase.USERS1 WHERE LOWER(FName) LIKE '%%%s%%' ORDER BY InfluenceScore DESC" % text)
    users = mySQL.fetchall()
    results = []
    for result in users:
        results.append(result)
    QueryCache.put(cacheKey, cacheResult)
    return results

def text_tweets(text):
    cacheKey = ("text", "tweets", text)
    cacheResult = QueryCache.get(cacheKey)
    if cacheResult != -1:
        return cacheResult
    query = {"text": {"$regex": text}}
    sort_order = [("sumAB", pymongo.DESCENDING)]
    matches = tweets.aggregate([
        {"$match": query},
        {"$addFields": {"sumAB": {
            "$add": [{"$toDouble": "$reply_count"}, {"$toDouble": "$favorite_count"}, {"$toDouble": "$retweet_count"},
                     {"$toDouble": "$favorite_count"}]}}},
        {"$sort": {"sumAB": -1}}])
    results = []
    for match in matches:
        results.append(match)
    QueryCache.put(cacheKey, cacheResult)
    return results

def user_tweets(user):
    cacheKey = ("user", "tweets", user)
    cacheResult = QueryCache.get(cacheKey)
    if cacheResult != -1:
        return cacheResult
    mySQL.execute("SELECT UID from mydatabase.users1 WHERE Handle = '%s'" % user)
    uid = mySQL.fetchall()[0][0]
    query = {"user_ID": int(uid)}
    tweets1 = tweets.find(query).sort("created_at", -1)
    results = []
    for tweet in tweets1:
        results.append(tweet)
    QueryCache.put(cacheKey, cacheResult)
    return results

def hashtag_tweets(hashtag):
    cacheKey = ("hashtag", "tweets", hashtag)
    cacheResult = QueryCache.get(cacheKey)
    if cacheResult != -1:
        return cacheResult
    query = {"hashtags": {"$regex": hashtag}}
    sort_order = [("sumAB", pymongo.DESCENDING)]
    matches = tweets.aggregate([
        {"$match": query},
        {"$addFields": {"sumAB": {
            "$add": [{"$toDouble": "$reply_count"}, {"$toDouble": "$favorite_count"}, {"$toDouble": "$retweet_count"},
                     {"$toDouble": "$favorite_count"}]}}},
        {"$sort": {"sumAB": -1}}])

    results = []
    for match in matches:
        results.append(match)
    QueryCache.put(cacheKey, cacheResult)
    return results

def search_by_time(start, stop):
    start_date = datetime.strptime(start, '%Y-%m-%d')
    end_date = datetime.strptime(stop, '%Y-%m-%d')

    start_date_formatted = start_date.strftime('%a %m %d %H:%M:%S +0000 %Y')
    end_date_formatted = end_date.strftime('%a %m %d %H:%M:%S +0000 %Y')

    query = {'created_at': {'$gte': start_date_formatted, '$lt': end_date_formatted}}
    matches = tweets.find(query).sort("retweet_count", -1)
    results = []
    for match in matches:
        results.append(match)
    return results

## Use Demonstration

### Find Tweets by Hashtag

In [14]:
import time
hashtag = "corona"
start = time.time()
results = hashtag_tweets(hashtag)
end = time.time()
timeTaken = (end-start) * 1000
i = 0
print("Executed in " + str(timeTaken) + " milliseconds.")
for tweet in results[0:10]:
    print("\nResult " + str(i+1) + ":\n")
    print(formatTweet(tweet))
    i += 1

Executed in 1634.558916091919 milliseconds.
Result 1:

Tweet from @aajtak on April 22, 2020:
	कोरोना से जंग में पूरी दुनिया ने माना पीएम मोदी की ताकत का लोहा, US सर्वे में टॉप रैंक
#coronavirus
https://t.co/QvYliTGixR
	(14119 Likes, 615 Replies, 1858 Retweets)
Result 2:

Tweet from @FrankFigliuzzi1 on April 13, 2020:
	Mob boss asks his crew if that guy who likes science is a snitch. #fauci #corona
	(9217 Likes, 276 Replies, 3128 Retweets)
Result 3:

Tweet from @chad_ellsworth on April 19, 2020:
	Happening Now in San Diego in response to closing walking trails and beaches. #COVID19 #corona #encinitas #sandiego https://t.co/ukmyMbx2yq
	(8097 Likes, 664 Replies, 4606 Retweets)
Result 4:

Tweet from @lordofcan on March 6, 2020:
	Corona virüsüne karşı tavrımız nettir #coronavirusturkey https://t.co/JxaccbNXpI
	(8518 Likes, 81 Replies, 1029 Retweets)
Result 5:

Tweet from @FrankFigliuzzi1 on April 24, 2020:
	Trump owes tens of millions to the Bank of China — and the loan is due soon - POLITICO #china #corona  https://t.co/94MAFxvD8R
	(6841 Likes, 359 Replies, 3609 Retweets)
Result 6:

Tweet from @TraderAT12 on February 22, 2020:
	#coronavirus #corona
#koronavirus #korona
♀️GENLER ve IRK/VİRÜS♂️
 👤VIRUS ve ÇALANLAR👤
👼 HIV/CCR5 'suz bebek👼

Da… https://t.co/pQqvJmaAyx
	(6824 Likes, 502 Replies, 2892 Retweets)
Result 7:

Tweet from @DrSJaishankar on April 23, 2020:
	The changing world of #corona era  diplomacy. Strong friendships thrive even virtually.

A busy day talking to For… https://t.co/XtoSFWizRe
	(5214 Likes, 186 Replies, 879 Retweets)
Result 8:

Tweet from @en_germany on April 16, 2020:
	Chancellor #Merkel speaks of a "fragile interim success" in the fight against the #corona pandemic - in mini-steps… https://t.co/l97QpgcO9r
	(3663 Likes, 24 Replies, 451 Retweets)
Result 9:

Tweet from @svenstoffels on April 22, 2020:
	Corona CHingChan does a 'lil dance for us.
#corona #covid19 #chinesevirus #chinavirus https://t.co/OHnSKshHtE
	(2436 Likes, 1880 Replies, 665 Retweets)
Result 10:

Tweet from @artofpsd on April 16, 2020:
	Son akşam görüşmesi #corona https://t.co/ctDlR2RwU6
	(2796 Likes, 6 Replies, 223 Retweets)

In [15]:
hashtag = "corona"
start = time.time()
results = hashtag_tweets(hashtag)
end = time.time()
timeTaken = (end-start) * 1000
i = 0
print("Executed in " + str(timeTaken) + " milliseconds.")
for tweet in results[0:10]:
    print("\nResult " + str(i+1) + ":\n")
    print(formatTweet(tweet))
    i += 1

Executed in 860.3789806365967 milliseconds.
Result 1:

Tweet from @aajtak on April 22, 2020:
	कोरोना से जंग में पूरी दुनिया ने माना पीएम मोदी की ताकत का लोहा, US सर्वे में टॉप रैंक
#coronavirus
https://t.co/QvYliTGixR
	(14119 Likes, 615 Replies, 1858 Retweets)
Result 2:

Tweet from @FrankFigliuzzi1 on April 13, 2020:
	Mob boss asks his crew if that guy who likes science is a snitch. #fauci #corona
	(9217 Likes, 276 Replies, 3128 Retweets)
Result 3:

Tweet from @chad_ellsworth on April 19, 2020:
	Happening Now in San Diego in response to closing walking trails and beaches. #COVID19 #corona #encinitas #sandiego https://t.co/ukmyMbx2yq
	(8097 Likes, 664 Replies, 4606 Retweets)
Result 4:

Tweet from @lordofcan on March 6, 2020:
	Corona virüsüne karşı tavrımız nettir #coronavirusturkey https://t.co/JxaccbNXpI
	(8518 Likes, 81 Replies, 1029 Retweets)
Result 5:

Tweet from @FrankFigliuzzi1 on April 24, 2020:
	Trump owes tens of millions to the Bank of China — and the loan is due soon - POLITICO #china #corona  https://t.co/94MAFxvD8R
	(6841 Likes, 359 Replies, 3609 Retweets)
Result 6:

Tweet from @TraderAT12 on February 22, 2020:
	#coronavirus #corona
#koronavirus #korona
♀️GENLER ve IRK/VİRÜS♂️
 👤VIRUS ve ÇALANLAR👤
👼 HIV/CCR5 'suz bebek👼

Da… https://t.co/pQqvJmaAyx
	(6824 Likes, 502 Replies, 2892 Retweets)
Result 7:

Tweet from @DrSJaishankar on April 23, 2020:
	The changing world of #corona era  diplomacy. Strong friendships thrive even virtually.

A busy day talking to For… https://t.co/XtoSFWizRe
	(5214 Likes, 186 Replies, 879 Retweets)
Result 8:

Tweet from @en_germany on April 16, 2020:
	Chancellor #Merkel speaks of a "fragile interim success" in the fight against the #corona pandemic - in mini-steps… https://t.co/l97QpgcO9r
	(3663 Likes, 24 Replies, 451 Retweets)
Result 9:

Tweet from @svenstoffels on April 22, 2020:
	Corona CHingChan does a 'lil dance for us.
#corona #covid19 #chinesevirus #chinavirus https://t.co/OHnSKshHtE
	(2436 Likes, 1880 Replies, 665 Retweets)
Result 10:

Tweet from @artofpsd on April 16, 2020:
	Son akşam görüşmesi #corona https://t.co/ctDlR2RwU6
	(2796 Likes, 6 Replies, 223 Retweets)

### Find Tweets by User

In [16]:
handle = "narendramodi"
start = time.time()
results = user_tweets(handle)
end = time.time()
timeTaken = (end-start) * 1000
i = 0
print("Executed in " + str(timeTaken) + " milliseconds.")
for tweet in results[0:10]:
    print("\nResult " + str(i+1) + ":\n")
    print(formatTweet(tweet))
    i += 1

Executed in 109.7714900970459 milliseconds.
Result 1:

Tweet from @narendramodi on March 22, 2020:
	Excellent way to use the power of the media to spread a message of hope and positivity...that India will defeat COV… https://t.co/ZEo8ls8Z16
	(25268 Likes, 1136 Replies, 4284 Retweets)
Result 2:

Tweet from @narendramodi on March 22, 2020:
	Can you see the link?

Looks like people have closed ranks to uproot the COVID-19 menace. #JantaCurfew
	(35558 Likes, 789 Replies, 6346 Retweets)
Result 3:

Tweet from @narendramodi on March 28, 2020:
	The future of the nation is ensuring the nation’s future. Excellent gesture, Sahil, proud of you. #IndiaFightsCorona
	(48427 Likes, 925 Replies, 5565 Retweets)
Result 4:

Tweet from @narendramodi on March 20, 2020:
	Let us heed these important words of our champion shuttlers. #IndiaFightsCorona

https://t.co/oLNZSoYMoI

https://t.co/HyVzkS03Qt
	(11943 Likes, 270 Replies, 2231 Retweets)

In [17]:
handle = "narendramodi"
start = time.time()
results = user_tweets(handle)
end = time.time()
timeTaken = (end-start) * 1000
i = 0
print("Executed in " + str(timeTaken) + " milliseconds.")
for tweet in results[0:10]:
    print("\nResult " + str(i+1) + ":\n")
    print(formatTweet(tweet))
    i += 1

Executed in 97.52154350280762 milliseconds.
Result 1:

Tweet from @narendramodi on March 22, 2020:
	Excellent way to use the power of the media to spread a message of hope and positivity...that India will defeat COV… https://t.co/ZEo8ls8Z16
	(25268 Likes, 1136 Replies, 4284 Retweets)
Result 2:

Tweet from @narendramodi on March 22, 2020:
	Can you see the link?

Looks like people have closed ranks to uproot the COVID-19 menace. #JantaCurfew
	(35558 Likes, 789 Replies, 6346 Retweets)
Result 3:

Tweet from @narendramodi on March 28, 2020:
	The future of the nation is ensuring the nation’s future. Excellent gesture, Sahil, proud of you. #IndiaFightsCorona
	(48427 Likes, 925 Replies, 5565 Retweets)
Result 4:

Tweet from @narendramodi on March 20, 2020:
	Let us heed these important words of our champion shuttlers. #IndiaFightsCorona

https://t.co/oLNZSoYMoI

https://t.co/HyVzkS03Qt
	(11943 Likes, 270 Replies, 2231 Retweets)

### Find Tweets by Text

In [21]:
query = "death toll"
start = time.time()
results = text_tweets(query)
end = time.time()
timeTaken = (end-start) * 1000
i = 0
print("Executed in " + str(timeTaken) + " milliseconds.")
for tweet in results[0:10]:
    print("Result " + str(i+1) + ":\n")
    print(formatTweet(tweet))
    i += 1

Executed in 153.69701385498047 milliseconds.
Result 1:

Tweet from @TimesNow on April 24, 2020:
	Finally, Bengal 'admits' 57 COVID deaths, but keeps the death toll at 18; calls Corona 'incidental' to death.
‘Can… https://t.co/KUh1CFIZ0l
	(111 Likes, 17 Replies, 53 Retweets)
Result 2:

Tweet from @StandupN on April 23, 2020:
	@willripleyCNN Clearly, we show only a few death tolls of Wuhan corona disease in Japan. FYI enough has already bee… https://t.co/5YFjcaZL2L
	(25 Likes, 0 Replies, 13 Retweets)
Result 3:

Tweet from @LBCNews on April 25, 2020:
	The UK's Covid-19 death toll looks set to pass 20,000 today, while US President Donald Trump shunned journalists la… https://t.co/RjUwenCY6T
	(8 Likes, 14 Replies, 9 Retweets)
Result 4:

Tweet from @mgcanmore on April 25, 2020:
	A month ago, when the coronavirus death toll was under 1,000, @realDonaldTrump supporters were talking about what a complete, utter failure Obama was because the swine flu was 12,469.

But now that corona deaths has surpassed 52,000, they insist Trump is doing a great job. Weird.
	(13 Likes, 0 Replies, 4 Retweets)
Result 5:

Tweet from @mukeshk17072714 on April 24, 2020:
	The death toll from Corona in Bihar is only two, while the number of employed teachers who died due to financial cr… https://t.co/Gz7WNI0yfS
	(9 Likes, 0 Replies, 10 Retweets)
Result 6:

Tweet from @galattadotcom on April 25, 2020:
	#SAD #CoronaTNUpdate

1 new #Corona death in #TamilNadu today | TN death toll total 23

#RIP

#TNFightsCorona #COVID #COVID19India #CoronaInTN #CoronaVirus  #IndiaFightsCorona #CoronaUpdate #COVID2019india #coronaupdatesindia
	(6 Likes, 0 Replies, 4 Retweets)
Result 7:

Tweet from @CONSTATINOPLE_0 on April 25, 2020:
	Corona death toll of America is 50k+
Aliens : https://t.co/bdIenvRfjg
	(5 Likes, 0 Replies, 3 Retweets)
Result 8:

Tweet from @Sarcasm4every1 on April 25, 2020:
	Question for the social scientists:
Would the death toll from Corona rallies, sucking down lysol, and other stupid things accelerate evolution?
	(4 Likes, 1 Replies, 2 Retweets)
Result 9:

Tweet from @MostafaMe4 on April 25, 2020:
	100 Alborz medical staff contracted corona, Currently, about 300 corona patients are hospitalized in the province, and the number of deaths per day is less than 5.
#Iran regime continues to cover-up the #Coronavirus death toll https://t.co/ukHYUQUSy6
	(3 Likes, 0 Replies, 3 Retweets)
Result 10:

Tweet from @FinancialXpress on April 25, 2020:
	#COVID19 positive cases in #India near 25,000, death toll 779; growth rate dips to lowest since 100th case | Latest Updates: https://t.co/LAWemezPBI
	(3 Likes, 0 Replies, 2 Retweets)

In [20]:
query = "death toll"
start = time.time()
results = text_tweets(query)
end = time.time()
timeTaken = (end-start) * 1000
i = 0
print("Executed in " + str(timeTaken) + " milliseconds.")
for tweet in results[0:10]:
    print("Result " + str(i+1) + ":\n")
    print(formatTweet(tweet))
    i += 1

Executed in 124.39632415771484 milliseconds.
Result 1:

Tweet from @TimesNow on April 24, 2020:
	Finally, Bengal 'admits' 57 COVID deaths, but keeps the death toll at 18; calls Corona 'incidental' to death.
‘Can… https://t.co/KUh1CFIZ0l
	(111 Likes, 17 Replies, 53 Retweets)
Result 2:

Tweet from @StandupN on April 23, 2020:
	@willripleyCNN Clearly, we show only a few death tolls of Wuhan corona disease in Japan. FYI enough has already bee… https://t.co/5YFjcaZL2L
	(25 Likes, 0 Replies, 13 Retweets)
Result 3:

Tweet from @LBCNews on April 25, 2020:
	The UK's Covid-19 death toll looks set to pass 20,000 today, while US President Donald Trump shunned journalists la… https://t.co/RjUwenCY6T
	(8 Likes, 14 Replies, 9 Retweets)
Result 4:

Tweet from @mgcanmore on April 25, 2020:
	A month ago, when the coronavirus death toll was under 1,000, @realDonaldTrump supporters were talking about what a complete, utter failure Obama was because the swine flu was 12,469.

But now that corona deaths has surpassed 52,000, they insist Trump is doing a great job. Weird.
	(13 Likes, 0 Replies, 4 Retweets)
Result 5:

Tweet from @mukeshk17072714 on April 24, 2020:
	The death toll from Corona in Bihar is only two, while the number of employed teachers who died due to financial cr… https://t.co/Gz7WNI0yfS
	(9 Likes, 0 Replies, 10 Retweets)
Result 6:

Tweet from @galattadotcom on April 25, 2020:
	#SAD #CoronaTNUpdate

1 new #Corona death in #TamilNadu today | TN death toll total 23

#RIP

#TNFightsCorona #COVID #COVID19India #CoronaInTN #CoronaVirus  #IndiaFightsCorona #CoronaUpdate #COVID2019india #coronaupdatesindia
	(6 Likes, 0 Replies, 4 Retweets)
Result 7:

Tweet from @CONSTATINOPLE_0 on April 25, 2020:
	Corona death toll of America is 50k+
Aliens : https://t.co/bdIenvRfjg
	(5 Likes, 0 Replies, 3 Retweets)
Result 8:

Tweet from @Sarcasm4every1 on April 25, 2020:
	Question for the social scientists:
Would the death toll from Corona rallies, sucking down lysol, and other stupid things accelerate evolution?
	(4 Likes, 1 Replies, 2 Retweets)
Result 9:

Tweet from @MostafaMe4 on April 25, 2020:
	100 Alborz medical staff contracted corona, Currently, about 300 corona patients are hospitalized in the province, and the number of deaths per day is less than 5.
#Iran regime continues to cover-up the #Coronavirus death toll https://t.co/ukHYUQUSy6
	(3 Likes, 0 Replies, 3 Retweets)
Result 10:

Tweet from @FinancialXpress on April 25, 2020:
	#COVID19 positive cases in #India near 25,000, death toll 779; growth rate dips to lowest since 100th case | Latest Updates: https://t.co/LAWemezPBI
	(3 Likes, 0 Replies, 2 Retweets)

### Find User by Name

In [51]:
query = "new"
start = time.time()
results = text_user(query)
end = time.time()
timeTaken = (end-start) * 1000
print("Executed in " + str(timeTaken) + " milliseconds.")
for result in results[0:10]:
    print("Potential Match: @" + result[0])

Executed in 60.60147285461426 milliseconds.
Potential Match: @cnnbrk
Potential Match: @nytimes
Potential Match: @BBCBreaking
Potential Match: @BBCWorld
Potential Match: @ABC
Potential Match: @ABPNews
Potential Match: @tvOneNews
Potential Match: @NBCNews
Potential Match: @CBSNews
Potential Match: @SkySportsNews

### Get a User Profile

In [56]:
handle = "nytimes"
mySQL.execute("SELECT UID from mydatabase.users1 WHERE Handle LIKE '%s'" %handle)
result = mySQL.fetchall()[0][0]
print(getUserProfile(result))

USER PROFILE FOR @nytimes:
Verified User
	Name:			The New York Times
	Bio:			News tips? Share them here: http://nyti.ms/2FVHq9v
	Followers:		46361159
	Member Since:	2007